.sidenav {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -70%;
  background-color: rgba(41, 44, 87, 0.9);
  overflow-x: hidden;
  transition: right 0.5s ease-in-out;
  padding-top: 60px;
}
.sidenav .navlink {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 20px;
  color: #e2e2e2d0;
  display: block;
  transition: 0.3s;
}
.sidenav .navlink:hover {
  color: #1692cf;
}
.sidenav .closebtn {
  position: absolute;
  top: 1%;
  right: 5%;
  font-size: 40px;
  margin-left: 50px;
}
#slick2.dd-container {
  padding: 8px 8px 8px 50px;
}
#slick2 .dd-option:hover {
  background: #e2dfdf;
  color: #000;
}
@media all and (min-width: 1200px) {
  .sidenav.hide {
    display: none;
  }
}
@media all and (max-width: 450px) {
  .sidenav {
    padding-top: 15px;
    /* width: 100%; */
  }
  .sidenav .navlink {
    font-size: 3.8vw;
    padding: 8px 8px 8px 20px;
  }
  .sidenav .closebtn {
    top: -1%;
  }
  #slick2.dd-container {
    padding: 8px 8px 8px 10px;
  }
}
