.sidenav {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -70%;
  background-color: rgba(41, 44, 87, 0.9);
  overflow-x: hidden;
  transition: right 0.5s ease-in-out;
  padding-top: 60px;

}
.sidenav .navlink {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 25px;
  color: #e2e2e2d0;
  display: block;
  transition: 0.3s;
}
.sidenav .navlink:hover {
  color: #ff5f15;
}
.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 40px;
  margin-left: 50px;
}
#slick2.dd-container {
  padding: 8px 8px 8px 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
