/* @font-face {
  font-family: "Agency FB Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Agency FB Bold"), url("AGENCYB.woff") format("woff");
} */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #c4c4c4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  padding: 6px;
}
body {
  font-family: "Nunito", "Oxygen", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
/* Header */
.main-header {
  background-color: #fff;
  font-weight: 500;
  font-size: 18px;
}
header .container-fluid {
  padding-right: 0px !important;
}
.navbar {
  padding-top: 0;
}
.navbar .navbar-brand {
  width: 25%;
  text-align: center;
  padding-top: 0;
}
.navbar .navbar-brand::after {
  position: absolute;
  content: "";
  height: 43px;
  width: 100%;
  background: #f47a2d;
  top: 0;
  right: 98%;
  transform: skew(328deg);
}
.navbar .navbar-brand .nav-img {
  /* width: 250px;
  height: 70px; */
}
.navbar-expand-xl .navbar-collapse {
  flex-direction: column;
}
.navbar .navbar-nav.navbar-top-1 {
  width: 100%;
  position: relative;
  justify-content: flex-end;
  background: #f47a2d;
}
.navbar .navbar-nav.navbar-top-1::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 99.7%;
  margin: 0 20px 0 0;
  background: #f47a2d;
  transition: 0.35s all ease;
  right: 0%;
  transform: skew(-28deg);
}
.navbar-nav.navbar-top-1 .nav-item {
  margin-right: 10px;
  z-index: 1;
}
.navbar-nav.navbar-top-1 .nav-link {
  color: rgb(59, 58, 58);
}
.navbar .navbar-nav.navbar-top-2 {
  width: 100%;
  justify-content: flex-end;
  font-weight: bold;
}
/* .navbar-nav.navbar-top-2 .nav-item {
  width: 15%;
} */
.navbar-nav.navbar-top-2 .nav-link {
  color: #013752;
}
.navbar-nav.navbar-top-2 .nav-link.active {
  color: #f86d22;
}
.navbar-nav.navbar-top-2 .nav-link:focus,
.navbar-nav.navbar-top-2 .nav-link:hover {
  color: #eb6219;
}
.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: rgb(22, 22, 22);
  margin: 4px;
  transition: all 0.5s ease-in-out;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-4px, -3px);
}
.dd-select {
  border: none !important;
}

/*----------- Banner ---------------*/
.block-banner {
  position: relative;
}
.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}
/* .block-banner .content {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-40%);
} */
.btn-next-icon,
.btn-prev-icon {
  width: 50px;
  height: 50px;
  background-color: #eb6219;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-next-icon i,
.btn-prev-icon i {
  font-size: 30px;
  color: #013752b0;
}
.block-banner .content .title {
  font-size: 3vw;
  margin-left: 4.5rem;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* .block-banner .content .title:nth-child(1) {
  font-family: "Agency FB Bold";
  font-weight: normal;
  font-size: 4vw;
  color: #ff5d14;
}
.block-banner .content .title:nth-child(3) {
  padding-bottom: auto;
} */
/*--------------#region Main ---------------*/
/*------------- Section intro-1 -----------------*/
.block-intro {
  padding-top: 20px;
  position: relative;
}
.block-intro .heading {
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  color: #013c5a;
}
.block-intro .block-item .content .title {
  font-size: 1.2rem;
  font-weight: 800;
}
.block-intro .heading p {
  font-size: 1rem;
  color: #000;
  font-weight: 800;
}
.block-intro .block-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-intro .content {
  width: 356px;
  height: 356px;
  background: url(../images/bg_ab_h_1.png) no-repeat center center;
  background-size: 100% 100%;
}
.block-intro .block-item li {
  float: left;
  width: 356px;
  margin-right: 25px;
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.block-intro .block-item li:last-child {
  margin-right: 0;
}
.block-intro .img-top {
  display: block;
  margin: 0 auto;
  width: 115px;
  height: 115px;
  position: absolute;
  top: -38px;
  right: 0;
  left: 0;
}
.block-intro .block-item .title {
  text-transform: uppercase;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  overflow: visible;
  padding: 108px 0 0 0;
  max-width: 60%;
  max-height: 60px;
  line-height: 30px;
  margin: 0 auto;
}
.block-intro .block-item .text {
  padding: 35px 0 0 0;
  font-weight: 500;
  max-width: 70%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 110px;
}
/*----------- Section intro-2 --------------------*/
.block-intro-2 {
  padding: 0px 0;
}
.block-intro-2 .title {
  color: #03415f;
  font-weight: 800;
  font-size: 1.7rem;
  padding: 0 20px 30px;
}
.block-intro-2 .title span {
  color: #eb6219;
}
.block-intro-2 .block-inner {
  background-image: url(../images/slog-ketnoi.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.block-intro-2 .block-inner .block-container {
  max-width: 100%;
  width: 100%;
  margin: 30px auto;
  position: relative;
}
.block-intro-2 .img-block {
  display: flex;
  flex-direction: row;
}
.block-intro-2 .placeholder {
  text-align: center;
  width: 100%;
  padding: 50% 0 0;
  position: relative;
}
.block-intro-2 .item {
  margin-top: 3%;
}
.block-intro-2 .item.left {
  width: 39%;
  background-image: url(../images/phone.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50% 0 0;
  margin-top: 1%;
}
.block-intro-2 .item.right {
  position: relative;
  width: 45.111117%;
}
.block-intro-2 .item.right .content-left {
  width: 13%;
}
.block-intro-2 .item.right .content-left span {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #eb6219;
  background-color: #ffffffa1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid #eb6219;
}
.block-intro-2 .item.right .item-inner.active span {
  background-color: #eb6219;
  color: white;
}
.block-intro-2 .item.right .item-inner.active .title-head {
  color: #eb6219;
}
.block-intro-2 .item.right .item-inner:not(:nth-child(5))::before {
  content: "";
  display: block;
  height: calc(100% - 38%);
  border-left: 2px solid #c9c7c717;
  position: absolute;
  left: 36px;
  top: 6%;
  z-index: -999;
}
.block-intro-2 .item.right .item-inner .title-head {
  color: #013752;
  font-size: 1.4vw;
  margin-bottom: 10px;
  font-weight: bold;
}
.block-intro-2 .item.right .item-inner {
  max-height: 150px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.block-intro-2 .item.right .item-inner:not(:nth-child(1)) {
  margin-top: 3%;
}
.block-intro-2 .item.right .item-inner:last-child {
  margin-top: 5% !important;
}
.block-intro-2 .item.right .item-inner ul {
  width: 100%;
}
.block-intro-2 .item.right .item-inner ul li {
  padding: 0 20px;
}
.block-intro-2 .item.right .item-inner ul li:nth-child(1) {
  padding-left: 3vw;
}
.block-intro-2 .item.right .item-inner ul li img {
  width: 160px;
}
/* -------- Section intro-3 --------- */
.block-intro-3 {
  margin-top: 3rem;
  text-align: center;
  position: relative;
}
.block-intro-3 .block-inner {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.block-intro-3 .title {
  color: #013752;
  font-weight: 800;
  font-size: 1.7rem;
}
.block-intro-3 .title span {
  color: #ff5d14;
}
.block-intro-3 .block-content {
  padding: 0 12px;
  width: 50%;
  color: #000;
  font-weight: 600;
}
.block-intro-3 .block-content p {
  font-size: 15px;
}
.block-intro-3 .block-content h2 {
  font-size: 17px;
}
.block-intro-3 .block-content ul li {
  font-size: 15px;
  color: #003366;
}
.block-intro-3 .block-img {
  position: relative;
  width: 100%;
  max-width: 500px;
}
.block-intro-3 .block-img img {
  width: 100%;
  height: auto;
}
.block-intro-3 .block-img .btn-play {
  background-color: white;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-image: url(../icons/play.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease;
  animation: pulse 1.5s ease-out infinite;
}
.block-intro-3 .block-img .btn-play:hover {
  background-size: 100%;
}
/*====================================================
=============== Section feature ======================
======================================================*/
.block-features {
  text-align: center;
  padding-top: 20px;
  background-color: #2d4679;
  color: rgb(212, 212, 212);
  font-weight: bold;
  margin-top: 30px;
}
.block-features .inline-list {
  list-style: none;
  margin-top: 30px;
  justify-content: center;
}
.block-features .inline-list li {
  padding: 0 4%;
  text-align: center;
}
.block-features .inline-list li p {
  font-size: 16px;
  margin-top: 20px;
}
.block-features .inline-list .logo {
  width: 25vw;
}
.block-features .head-title {
  color: #df5727;
  font-weight: 800;
  font-size: 3.8vw;
}
/*-------- Section news -----------*/
.block-news {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.block-news .heading {
  font-weight: 800;
  padding-bottom: 20px;
  color: #013752;
  font-size: 2.5rem;
}
.block-news .card {
  padding: 0 2vw;
  border: none;
}
.block-news .card-text:last-child {
  font-size: 16px;
}
.block-news .card-body {
  text-align: left;
  padding: 1rem 0 0 0;
}
.block-news .card-title {
  font-size: 18px;
}
/* ---------Section brand -----------*/
.block-brand {
  text-align: center;
  background-color: white;
  height: 250px;
  position: relative;
}
.block-brand .heading {
  padding-top: 30px;
}
.block-brand .heading .title {
  font-size: 1.7rem;
  font-weight: 800;
  color: #03415f;
}
.slider {
  margin-top: 30px;
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 150px !important;
}
.slider .item {
  border: 1px solid #ccc;
  height: 90px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
.slider .item img {
  width: 140px;
  height: 70px;
  padding: 0 5px;
}
#goToPrevSlide,
#goToNextSlide {
  border: none;
  background-color: transparent;
  color: #df5727;
  position: absolute;
  top: 50%;
}
#goToPrevSlide {
  left: 5%;
}
#goToNextSlide {
  right: 5%;
}
#goToPrevSlide i,
#goToNextSlide i {
  font-size: 26px;
}
/* ---- btn go-to-top ---- */
#go-to-top {
  position: fixed;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #ffffff;
  border-radius: 100%;
  background-color: #eb6219;
  margin: 0;
  padding: 0;
  right: 30px;
  bottom: 50px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
#go-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
#go-to-top.show {
  opacity: 1;
  visibility: visible;
}
/*-------------- #endregion Main -----------*/
/*------------- Footer -------------*/
footer {
  background-image: url(../images/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer .block-inner {
  padding: 30px 25px 0 25px;
}
footer .block-inner a {
  color: rgb(221, 218, 218);
  font-size: 15px;
}
footer .block-inner .item ul {
  list-style: none;
}
footer .block-inner .item ul li:not(:nth-child(1)) {
  padding: 5px 0;
}
footer .block-inner .item ul .heading {
  margin-bottom: 15px;
}
footer .block-inner .item:not(:first-child) ul .heading {
  padding: 61px 0 0 0;
  position: relative;
}
footer .block-inner .item ul .heading a {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  font-weight: bold;
  color: #df5727;
}
footer .block-inner .item.item ul li .icon {
  font-size: 25px;
  padding: 5px;
}
footer .copyright {
  border-top: 1px solid rgb(190, 190, 190);
  font-size: 15px;
  color: rgba(255, 255, 255, 0.788);
}
footer .copyright p {
  padding: 15px 0 0 0;
}
footer .block-inner .item.item-4 ul li img {
  width: 160px;
  height: 50px;
}
/*==============================================
====================== @media ==================
================================================*/
@media (max-width: 999px) {
  .navbar-top-1.hidden {
    display: none;
  }
  .navbar .navbar-nav.navbar-top-1::before {
    display: none;
  }
  .navbar-nav.navbar-top-2 .nav-item.item-right {
    position: relative;
  }
  /* Banner */
  .block-banner .content .btn-play {
    width: 3.5rem;
    height: 3.5rem;
    border: 3px solid #fff;
    font-size: 2.5vw;
  }
  .block-banner .content .title {
    font-size: 3vw !important;
  }
  .block-banner .content .title:nth-child(2) {
    padding-bottom: 0rem;
  }
  /* section intro-1 */
  .block-intro .block-inner .img-block img {
    width: 40px;
    height: 40px;
  }
  .block-intro .block-item li {
    margin: 40px 0;
  }
  .block-intro .heading {
    font-size: 1rem;
  }
  .content.left .title,
  .content.right .title {
    font-weight: bold;
    font-size: 2vw;
  }
  .content.left p,
  .content.right p {
    font-size: 1.2vw;
    font-weight: bold;
  }
  /* section intro-2 */
  .block-intro-2 .item.left {
    background-size: 100% 90%;
    background-position: unset;
  }
  .block-intro-2 .item.right .content-left span {
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
    border: 1px solid #eb6219;
  }
  .block-intro-2 .item.right .content-left {
    width: 13%;
  }
  .block-intro-2 .item.right .content-right {
    font-size: 13px;
  }
  .block-intro-2 .item.right .content-right .title-head {
    font-size: 16px;
  }
  .block-intro-2 .item.right .item-inner:not(:nth-child(5))::before {
    left: 28px;
  }
  .block-intro-2 .item.right {
    width: 50%;
  }
  /*------- section intro-3 -----*/
  .block-intro-3 .title {
    text-align: center;
    padding: 0 2px;
    font-size: 5vw;
  }
  .block-intro-3 .block-content {
    width: 100%;
    font-size: 16px;
    margin: 20px 0 0 0;
    order: 1;
  }
  .block-intro-3 .block-img {
    width: 100%;
    margin: 10px 0 0 0;
    order: 0;
    max-width: none;
  }
  .block-intro-3 .block-img img {
    width: 100%;
  }
  /* block-features */
  .block-features .head {
    font-size: 2vw;
  }
  .block-features .inline-list {
    justify-content: flex-start;
  }
  .block-features .inline-list .logo {
    width: 20vw;
  }
  .block-features .inline-list .head-title {
    font-size: 4vw;
  }
  .block-features .inline-list li p {
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .navbar-top-1.hidden {
    display: none;
  }
  .block-banner .content .title {
    font-size: 3vh;
  }
  .block-banner .content .title:nth-child(2) {
    padding-bottom: 0rem;
  }
  /* section 1 */

  /* block-features */
  .block-features .block-inner .block-item.right {
    font-size: 2.5vw;
  }
  .block-item.right .item .title {
    font-size: 3.5vw;
  }
  .block-item.left .item .title {
    font-size: 9vw;
    line-height: normal;
  }
  /* Block-intro */
  .content.left .title,
  .content.right .title {
    font-size: 1.25rem;
  }
  .content.left p,
  .content.right p {
    font-size: 13px;
  }
  /* block-intro-2 */
  .block-intro-2 .block-inner {
    background-size: cover;
  }
  .block-intro-2 .item.left {
    width: 100%;
    background-size: 70% 100%;
    padding: 50% 0 50%;
    background-position: center;
  }
  .block-intro-2 .item.right .btn-apple,
  .block-intro-2 .item.right .btn-google-play {
    width: 30vw !important;
  }
  .block-intro-2 .item.right .content-right .title-head {
    font-size: 17px;
  }
  .block-intro-2 .item.right .content-right p {
    font-size: 17px;
  }
  .block-intro-2 .item.right {
    width: 100%;
  }
  /* block-intro-3 */
  .block-intro-3 .block-content {
    width: 100%;
    font-size: 15px;
  }
  .block-intro-3 .block-content h2 {
    font-size: 17px;
  }
  .block-intro-3 .block-content ul li {
    font-size: 15px;
    color: #003366;
  }
}
@media (max-width: 575.98px) {
  .navbar .navbar-brand .nav-img {
    width: 100%;
  }
  .block-intro-2 .title {
    font-size: 5vw;
  }
  .block-banner .content .mt-5 {
    margin-top: 0 !important;
  }
  .block-banner .content .btn-play {
    width: 2rem;
    height: 2rem;
    font-size: 2.5vw;
    border: 1px solid #fff;
  }
  .block-banner .content .title {
    font-size: 2vw;
  }
  .block-banner .content .title:nth-child(2) {
    padding-bottom: 0rem;
  }
  /* section intro-1 -----------*/
  .block-intro .heading {
    font-size: 1.5rem;
  }
  /*-------block-intro-2 */
  .block-intro-2 .item.left {
    background-size: 70% 100%;
    padding: 50% 0 40%;
  }
  #goToPrevSlide,
  #goToNextSlide {
    display: none;
  }
}
@media all and (max-width: 470px) {
  .btn-next-icon,
  .btn-prev-icon {
    width: 30px;
    height: 30px;
  }
  .btn-next-icon i,
  .btn-prev-icon i {
    font-size: 20px;
  }
  .block-intro-2 .item.left {
    background-size: 80% 100%;
    padding: 50% 0 50%;
  }
  .block-intro-2 .item.right .btn-apple img,
  .block-intro-2 .item.right .btn-google img {
    width: 30vw !important;
  }
  .block-intro-2 .item.right .content-right .title-head {
    /* font-size: 5vw; */
  }
  .block-intro-2 .item.right .content-right p {
    font-size: 3.5vw;
    padding: 0 0 10px 0;
  }
  .block-brand .heading .title {
    font-size: 4vh;
  }
}
@media screen and (max-width: 320px) {
  .block-intro-2 .item.right .content-right p {
    font-size: 4vw;
    padding: 0 0 10px 0;
  }
  .block-brand .heading .title {
    font-size: 4vh;
  }
  /* banner */
  .block-banner .content .mt-5 {
    margin-top: 1rem !important;
  }
  .block-banner .content .btn-play {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    position: absolute;
    top: 45%;
    right: 20%;
  }
  .block-banner .content .title {
    font-size: 10px;
  }
  /* footer */
  footer .block-inner .heading img {
    width: 100%;
  }
  footer .block-inner a {
    font-size: 2vh;
  }
  footer .copyright {
    font-size: 12px;
  }
}
@media (max-width: 1366px) {
  .navbar-nav.navbar-top-2 .nav-item {
    margin-right: 0.5rem;
    font-size: 18px;
  }
  .block-intro-2 .item.right .item-inner:not(:nth-child(1)) {
    margin-top: 1%;
  }
  .block-intro-2 .item.right .content-left {
    width: auto;
  }
  .block-intro-2 .item.right .btn-apple,
  .block-intro-2 .item.right .btn-google-play {
    width: 13vw;
  }
}
@media (max-width: 1199px) {
  .navbar .navbar-brand {
    padding-top: 10px;
  }
  .navbar-nav.navbar-top-2 .nav-item {
    font-size: 14px;
  }
  .navbar .navbar-brand::after {
    width: 0 !important;
  }
  .block-intro .block-item {
    flex-wrap: wrap;
  }
}
@media (max-width: 1070px) {
  .navbar-nav.navbar-top-2 .nav-item {
    margin-right: 0.5rem;
    font-size: 13px;
  }
  /*-----intro-2-----*/
}
/* animate */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(211, 219, 214);
  }
  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}
